---
import Button from "@/components/Button.astro";
import { listProducts } from "@/lib/data/products.ts";
import { sdk } from "@/lib/sdk.ts";
import type { StoreProduct } from "@medusajs/types";

const { products } = await sdk.store.product.list({
  fields: 'title,handle,metadata',
  order: '-created_at',
});

const { active } = Astro.props;

let activeProduct: StoreProduct | null = null;

const activeProductId = products.find((p) => p.handle === active);
if (activeProductId) {
  activeProduct = await listProducts({
    countryCode: 'ES',
    queryParams: { handle: activeProductId.handle },
  }).then(({ response }) => response.products[0])
}
---

{products.map((product) => (
  <div class="flex flex-col gap-4">
    <a href={`/product/${product.handle}`} class:list={["w-fit", active === product.handle ? "strike" : ""]}><span class="font-normal">#{product.title}</span>. <span class="font-extralight">{typeof product.metadata?.release_date === 'string' ? product.metadata?.release_date.replaceAll('"', '') : ''}</span></a>
    
    {active === product.handle && activeProduct && (
      <div class="flex gap-4 mb-4">
        <img class="w-80" src={activeProduct?.images?.[0]?.url ?? ''} alt={activeProduct.title} />

        <article class="flex w-auto flex-col justify-between">
          <main>
            <p set:html={activeProduct.description?.replaceAll('\n', '<br/>')}/>
          </main>

          <footer class="flex flex-col gap-4">
            <span class="font-normal leading-2.5">{activeProduct?.variants?.[0]?.calculated_price?.calculated_amount ?? 0}€</span>
            <Button>Add to cart</Button>
          </footer>
        </article>
      </div>
    )}
  </div>
))}