---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section id="about-us" class="max-w-2/3">
    <h2 class="sr-only">ESENCIA - Sobre nosotros</h2>
    <div>
      <p>Mad Multitude nace en 2020 como resultado de las inquietudes creativas de David. En 2023, esta idea se hace realidad con el lanzamiento de su primera colección “LOVELORN”.</p>
      <p>El propósito de la marca es crear un producto de calidad, mostrar creatividad en cualquiera de sus manifestaciones y crear un estilo único. </p>
      <p>Los diseños están inspirados en distintas influencias, entre ellas destacan la cultura japonesa y movimientos como el emo y el gótico.</p>
      <p>Todos nuestros productos están diseñados y hechos a mano por nosotros.</p>
    </div>
    
    <figure class="flex justify-end py-8">
      <img src="/images/signature.svg" alt="Mad Multitude firma" class="h-6"/>
    </figure>
  </section>

  <section id="contact">
    <h2 class="mb-4">Habla con nosotros:</h2>

    <ul class="uppercase font-normal space-y-2">
      <li><a href="mailto:contact@madmultitude.com">EMAIL</a></li>
      <li><a href="https://www.instagram.com/madmultitude/" target="_blank">INSTAGRAM</a></li>
      <li><a href="https://www.x.com/madmultitude" target="_blank">TWITTER</a></li>
    </ul>
  </section>
</Layout>