---
import Layout from "@/layouts/Layout.astro";
import { sdk } from "@/lib/sdk.ts";

const { products } = await sdk.store.product.list({
  fields: 'title,handle,metadata',
  order: '-created_at',
});
---

<Layout>
  {products.map((product) => (
    <div>
      <a href={`/product/${product.handle}`}><span class="font-normal">#{product.title}</span>. <span class="font-extralight">{typeof product.metadata?.release_date === 'string' ? product.metadata?.release_date.replaceAll('"', '') : ''}</span></a>
    </div>
  ))}
</Layout>